@inherits LayoutComponentBase
@using MudBlazor.Services

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<PageTitle>LinkClanBot3</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://team-vol.com/" target="_blank">Home Page</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
